.section-about{
    width: auto;
    height:500px !important;
    padding: 0 100px;
    border-top: 1px solid #d7d7d7 !important;
    border-bottom: 1px solid #d7d7d7 !important;
    border-radius: 5px;
}
.section-about .section-about-header{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 10px;
    font-size: 22px;
    text-transform:uppercase ;
    
}
.section-about-content{
    display: flex;
    gap: 15px;
    width: 100%;
}
.section-about-content .content-left{
    width: 60%;
   
}
.section-about-content .content-right{
    width: 40%;
}
.section-about-content .content-right p{
    text-align: justify;
    font-style: italic;
    padding-top: 15px;
}